@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      background: #F5E6E8;
      color: #7189FF;
      text-transform: uppercase;
    }
  }

section {
  @apply max-w-[1400px] px-2 m-auto
}

.box {
  height: 500px;
  width: 400px;
  background: #D9D9D9;
}

.box_middle {
  height: 400px;
}

.img {
  @apply hover:scale-110 hover:duration-500 ease-in-out transition delay-500
}

.text_anim {
  @apply hover:text-third_color hover:duration-700 transition ease-in-out
}

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }